{% comment %}
  @param layout {String}
    Layout type

  @param is_product_modal {Bool}
    Is the snippet being loaded in a QuickShop

  @param hide_description {Bool}
    If true, hide the product description

  @param gallery_aspect_ratio {string}
    This is the gallery aspect ratio, can be one of 'natural', 'short', 'square', 'long'

  @param gallery_thumbnail_position {string}
    This is the gallery thumbnail position, can be one of 'below', or 'left'

  @param gallery_image_crop {boolean}
    Whether to crop images

  @param gallery_hover_zoom {String}
    This is the hover zoom setting, which is either 'disabled', 'separate', or 'replace'

  @param gallery_click_to_zoom {String}
    This is the click to zoom setting, which is either 'disabled', 'mobile', 'desktop', or 'always'
{% endcomment %}

{% assign enable_social_sharing = settings.product_social_sharing %}
{% assign selected_variant = product.selected_or_first_available_variant %}
{% assign compare_at_price = selected_variant.compare_at_price %}
{% assign price = selected_variant.price %}
{% assign sku = selected_variant.sku %}
{% assign product_available = product.available %}

{% comment %}For a potential divider in the product.description we need to split the content{% endcomment %}
{% assign readmore_split = product.description | split: '<!-- more -->' %}

{% if onboarding %}
  {% assign compare_at_price = 2999 %}
  {% assign price = 1999 %}
{% endif %}

{% assign on_sale = false %}
{% if compare_at_price > price %}
  {% assign on_sale = true %}
{% endif %}

{%
  include 'consistent-savings',
  variants: product.variants,
  on_sale: on_sale
%}

{%- capture share_buttons -%}
  {% assign social_image = false %}
  {% if product.featured_image %}
    {% assign social_image = product.featured_image | img_url: '1024x' %}
  {% endif %}
  {% assign social_url = shop.url | append: product.url %}
  {%-
    include 'share-buttons',
    snippet_title: 'general.share_buttons.title',
    social_image: social_image,
    social_title: product.title,
    social_url: social_url
  -%}
{%- endcapture  -%}

<article class="product--outer">
  {% comment %}
    Product slideshow, never moves
  {% endcomment %}
  {%
    include 'product-gallery',
    product: product,
    aspect_ratio: gallery_aspect_ratio,
    thumbnail_position: gallery_thumbnail_position,
    image_crop: gallery_image_crop,
    click_to_zoom: gallery_click_to_zoom,
    hover_zoom: gallery_hover_zoom
  %}
  <div class="product-main">
    <div class="product-details" data-product-details>
      {% if is_product_modal %}
        <h2 class="product-title">
          <a href="{{ product.url | within: collection }}"><span data-i18n='{% render 'translationData' with  product.title  %}'>{% render 'translationText' with  product.title  %}</span></a>
        </h2>
      {% else %}
        {% if template == 'index' %}
          <h2 class="product-title">
        {% else %}
          <h1 class="product-title">
        {% endif %}
          {% unless onboarding %}
            <span data-i18n='{% render 'translationData' with  product.title  %}'>{% render 'translationText' with  product.title  %}</span>
          {% else %}
            <span data-i18n='onboarding.product.title'>{{ 'onboarding.product.title' | t }}</span>
          {% endunless %}
        {% if template == 'index' %}
          </h2>
        {% else %}
          </h1>
        {% endif %}
      {% endif %}

      {% if settings.product_show_vendor and product.vendor != blank or onboarding %}
        <div class="product-vendor">
          {% unless onboarding %}
            {%- capture vendor_link -%}
              {{ product.vendor | link_to_vendor }}
            {%- endcapture -%}
            <span data-i18n='product.general.by_vendor_html || {"vendor_link":"{{ vendor_link | replace: "||", "^^" | replace: "'", "&apos;" | replace: '"', '\"' | strip }}"}'>{{ 'product.general.by_vendor_html' | t: vendor_link: vendor_link }}</span>
          {% else %}
            <span data-i18n='onboarding.product.by_vendor'>{{ 'onboarding.product.by_vendor' | t }}</span>
          {% endunless %}
        </div>
      {% endif %}
      
      <a href="#looxReviews">
<div class="loox-rating" data-id="{{ product.id }}" data-rating="{{ product.metafields.loox.avg_rating }}" data-raters="{{ product.metafields.loox.num_reviews }}" style="padding-top:15px;color:black" ></div>
</a>

      {% if settings.product_ratings_reviews %}
        <div class="product-ratings">
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}">
            <span class="spr-badge">
              <span class="spr-starrating spr-badge-starrating">
                <i class="spr-icon spr-icon-star-empty"></i>
                <i class="spr-icon spr-icon-star-empty"></i>
                <i class="spr-icon spr-icon-star-empty"></i>
                <i class="spr-icon spr-icon-star-empty"></i>
                <i class="spr-icon spr-icon-star-empty"></i>
              </span>
            </span>
          </span>
        </div>
      {% endif %}

      <div class="product-pricing" aria-live="polite">
        {%
          include 'product-badge',
          class_root: 'product',
          product_available: product_available,
          on_sale: on_sale,
          price: price,
          compare_at_price: compare_at_price,
          show_saved: true
        %}

        {%
          include 'product-price',
          class_root: 'product',
          price: price,
          price_varies: false,
          compare_at_price: compare_at_price,
          compare_at_price_varies: false,
          on_sale: on_sale,
          emphasize_price: false,
          show_original: true
        %}
      </div>

      {% if settings.product_show_sku == true %}
        {% unless onboarding %}
          <div
            class="
              product-sku
              {% if sku == empty %}product-sku--empty{% endif %}
            "
          >
            {{ 'product.general.sku_html' | t: sku: sku | strip_newlines }}
          </div>
        {% endunless %}
      {% endif %}
    </div>

    {% comment %}
      Product form original location, will remain unless is 3 column layout
    {% endcomment %}
    <div class="product-form--regular" data-product-form-regular>
      <div data-product-form-area>
        {% if is_product_modal %}
          <div data-product-quickshop-message class="product-message--container"></div>
        {% endif %}

        {% unless onboarding %}
          {%
            include 'product-form',
            product: product,
            selected_variant: selected_variant
          %}
        {% endunless %}

        {% if hide_description %}
          <a
            href="{{ product.url | within: collection }}"
            class="product-link"
            data-product-details-link
          >
            {{ 'product.buttons.view_details' | t }}
          </a>
        {% endif %}

        {% if enable_social_sharing and is_product_modal == false %}
          {{ share_buttons | strip_newlines }}
        {% endif %}
      </div>
    </div>

    {% comment %}
      Product description field, never moves
    {% endcomment %}
    {% if readmore_split[0] != blank and hide_description != true %}
      <div class="product-description rte" data-product-description>
        <span data-i18n='{% render 'translationData' with  readmore_split[0]  %}'>{% render 'translationText' with  readmore_split[0]  %}</span>
      </div>
    {% endif %}

    {% if enable_social_sharing and is_product_modal %}
      {{ share_buttons | strip_newlines }}
    {% endif %}
  </div>

  {% comment %}
    If is a 3 column layout, the form will move here at $bp-large (layout.isBreakpoint('L'))
  {% endcomment %}
  {% if layout == 'layout--three-col' %}
    <div class="product-form--alt" data-product-form-alt></div>
  {% endif %}
</article>

{% if readmore_split[1] != blank and hide_description != true and is_product_modal != true %}
  <div class="product-readmore rte" data-product-readmore>
    <span data-i18n='{% render 'translationData' with  readmore_split[1]  %}'>{% render 'translationText' with  readmore_split[1]  %}</span>
  </div>
{% endif %}
