{% comment %}
  @param class_root {String}
    Base class root

  @param product_available {Bool}

  @param on_sale {Bool}
    If a product, or one of it's variants is on sale

  @param show_saved {Bool}
    Show amount saved if is consistent across variants

  @param price {Number}
    product.price

  @param compare_at_price {Number}
    product.compare_at_price
{% endcomment %}

{%- if product_available != true -%}
  <span class="{{ class_root }}--badge badge--soldout">
    <span data-i18n='product.item.badges.sold_out'>{{ 'product.item.badges.sold_out' | t }}</span>
  </span>
{%- elsif settings.product_sales_badge -%}
  {% assign sales_saved = compare_at_price | minus: price %}

  {%- capture saved_price -%}
    <span class="money" data-price-money-saved>{{ sales_saved | money }}</span>
  {%- endcapture -%}

  {%- capture percent_saved -%}
    <span data-price-percent-saved>{{ sales_saved | times: 100.0 | divided_by: compare_at_price | round }}</span>
  {%- endcapture -%}

  <span class="{{ class_root }}--badge badge--sale"
    data-badge-sales
    {% if on_sale != true %}style="display: none;"{% endif %}
  >
    {% if settings.product_sales_badge_style == 'percentile' and show_saved %}
      <span data-i18n='product.item.badges.sale_percentile_html || {"saved":"{{ percent_saved | replace: "||", "^^" | replace: "'", "&apos;" }}"}'>{{ 'product.item.badges.sale_percentile_html' | t: saved: percent_saved | strip_newlines }}</span>
    {% elsif settings.product_sales_badge_style == 'money' and show_saved %}
      <span data-i18n='product.item.badges.sale_money_html || {"saved":"{{ saved_price | replace: "||", "^^" | replace: "'", "&apos;" }}"}'>{{ 'product.item.badges.sale_money_html' | t: saved: saved_price | strip_newlines }}</span>
    {% else %}
      <span data-i18n='product.item.badges.sale'>{{ 'product.item.badges.sale' | t }}</span>
    {% endif %}
  </span>
{%- endif -%}
