{% comment %}ly_liquid_scripts_begin{% endcomment %}{% capture ly_liquid_content %}{% comment %}ly_liquid_scripts_end{% endcomment %}<!doctype html>
<html class="no-js no-touch" lang="{{ shop.locale }}">
  <head>
<!-- Global site tag (gtag.js) - Google Ads: 627622189 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-627622189"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-627622189');
  gtag('config', 'DC-10099666');
</script>
    
    
    
    
    
    
    <!--
Event snippet for Popeyes_Toronto_visite simple_20210714 on https://popeyestoronto.com/: Please do not remove.
Place this snippet on pages with events you’re tracking. 
Creation date: 02/11/2022
-->
<script>
  gtag('event', 'conversion', {
    'allow_custom_scripts': true,
    'send_to': 'DC-10099666/visit0/popey003+unique'
  });
</script>
<noscript>
<img src="https://ad.doubleclick.net/ddm/activity/src=10099666;type=visit0;cat=popey003;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=;npa=;gdpr=${GDPR};gdpr_consent=${GDPR_CONSENT_755};ord=1;num=1?" width="1" height="1" alt=""/>
</noscript>
<!-- End of event snippet: Please do not remove -->
<meta name="google-site-verification" content="qrpw6vkX7nndHGEl6P4wZMxPhmlDINyNVS-BanX5HkM" />

                {% capture sb %}{% include "Secomapp-Title" %}{% endcapture %}{% unless sb contains "Liquid error" %}{% include "Secomapp-Title" %}{% endunless %} 
                
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">

    <link rel="preconnect" href="https://cdn.shopify.com">
    <link rel="preconnect" href="https://fonts.shopifycdn.com">
    <link rel="preconnect" href="https://v.shopify.com">
    <link rel="preconnect" href="https://cdn.shopifycloud.com">

     

    {% if page_description != blank %}
      {% comment %}<meta name="description" content="{{ page_description | escape }}">{% endcomment %}
    {% endif %}

    {% include 'favicon' %}

    {% if template contains 'collection' and current_tags %}
      <meta name="robots" content="noindex" />
      <link rel="canonical" href="{{ shop.url }}{{ collection.url }}" />
    {% else %}
      <link rel="canonical" href="{{ canonical_url }}" />
    {% endif %}

    <meta name="viewport" content="width=device-width">

    {% assign twitter_handle = settings.social_twitter | split: 'twitter.com/' | last %}
    {%
      include 'social-meta-tags',
      twitter_handle: twitter_handle
    %}

    <link rel="preload" href="{{ settings.type_menu | font_url }}" as="font" crossorigin="anonymous">
    <link rel="preload" as="style" href="{{ 'theme.scss.css' | asset_url }}">

    {{ content_for_header }}

    {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
    <link rel="stylesheet" href="https://cdn.shopify.com/shopifycloud/shopify-plyr/v1.0/shopify-plyr.css">
  
	{{ shop.metafields.loox["global_html_head"] }}
{% include 'booster-common' %}
    
    {% include 'bold-common' %}
    <style>
      li.store-locator-nav {
    display: none !important;
}
    </style>

{% include 'sca.freegifts' %}
</head>

  <body class="template-{{ template.name }}" data-instant-allow-query-string>
    <script>
      document.documentElement.className=document.documentElement.className.replace(/\bno-js\b/,'js');
      if(window.Shopify&&window.Shopify.designMode)document.documentElement.className+=' in-theme-editor';
      if(('ontouchstart' in window)||window.DocumentTouch&&document instanceof DocumentTouch)document.documentElement.className=document.documentElement.className.replace(/\bno-touch\b/,'has-touch');
    </script>
    <a class="skip-to-main" href="#site-main">{{ 'general.accessibility.skip_to_content' | t }}</a>
    {% section 'static-announcement' %}
    <header
      class="site-header site-header-nav--open"
      role="banner"
      data-site-header
    >
      {% section 'static-header' %}
    </header>
    <div class="intersection-target" data-header-intersection-target></div>
    <div class="main-nav-dimmer" data-main-nav-dimmer></div>
    <main id="site-main" class="site-main" aria-label="Main content" tabindex="-1">
      {% if template == 'index' %}
        {% section 'static-slideshow' %}
        {% section 'static-highlights-banners' %}
      {% endif %}

      {{ content_for_layout }}
    </main>

    {% section 'static-footer' %}

    {% comment %}
      Below are various templates used in JavaScript
    {% endcomment %}
    <div style="display: none;" aria-hidden="true" data-templates>
      {% include 'message-banner' %}
      {% include 'atc-banner' %}
    </div>

    {% comment %}
      Modal container, used on Collections, Password, and QuickShop
    {% endcomment %}
    {% include 'modal' %}

    {% comment %}
      This is the PhotoSwipe dialog which needs to be in the base page
    {% endcomment %}
    {% include 'product-gallery-zoom' %}

    {%- if template contains 'customer' -%}
      {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
      {{ 'customer_area.js' | shopify_asset_url | script_tag }}
    {%- endif -%}

    <script src="{{ 'vendors-main.bundle.js' | asset_url }}" ></script>

    {% if settings.enable_currency_converter %}
      <script src="//cdn.shopify.com/s/javascripts/currencies.js"></script>
    {% endif %}

    <script
      src="{{ 'empire.js' | asset_url }}"
      data-scripts
      data-shopify-api-url="{{ 'api.jquery.js' | shopify_asset_url }}"
      data-shopify-countries="/services/javascripts/countries.js"
      data-shopify-common="{{ 'shopify_common.js' | shopify_asset_url }}"
      data-shopify-cart="{{ 'jquery.cart.js' | asset_url }}"
      data-pxu-polyfills="{{ 'polyfills.js' | asset_url }}"
    >
    </script>

    {% include 'structured-data' %}

    <script>
    (function () {
      function handleFirstTab(e) {
        if (e.keyCode === 9) { // the "I am a keyboard user" key
          document.body.classList.add('user-is-tabbing');
          window.removeEventListener('keydown', handleFirstTab);
        }
      }
      window.addEventListener('keydown', handleFirstTab);
    })();
    </script>

    <script
      src="{{ 'instantPage.min.js' | asset_url }}"
      type="module"
      defer
    >
    </script>
  {% comment %}ly_liquid_scripts_begin{% endcomment %}{% endcapture %}{% render 'ly-liquid-scripts' content: ly_liquid_content %}{% comment %}ly_liquid_scripts_end{% endcomment %}{% comment %}ly_core_scripts_begin{% endcomment %}{% render 'ly-core-scripts' %}{% comment %}ly_core_scripts_end{% endcomment %}{% comment %}ly_switcher_factory_begin{% endcomment %}{% render 'ly-switcher-factory' %}{% comment %}ly_switcher_factory_end{% endcomment %}
	{{ shop.metafields.loox["global_html_body"] }}
{% include 'booster-discounts' %}
</body>
</html>
<script src="https://widget.sezzle.com/v1/javascript/price-widget?uuid=9bd0d323-03c3-4685-becf-bf3b34dd8ecd"></script>