<script
  type="application/json"
  data-section-type="static-collection"
  data-section-id="{{ section.id }}"
  data-section-data
>
  {
    "context": {
      "see_more": {{ 'general.general.see_more' | t | json }},
      "see_less": {{ 'general.general.see_less' | t | json }},
      "grid_list": {{ section.settings.default_view | json }},
      "collectionUrl": {{ collection.url | default: '/collections/all' | json }}
    }
  }
</script>

{% assign show_sidebar = false %}
{% assign show_filters = true %}
{% assign show_filter_trigger = false %}

{% if section.settings.filter_style == 'none' %}
  {% assign show_filters = false %}
{% endif %}

{% if section.settings.show_sidebar %}
  {% comment %}
    Sidebar toggle is used on mobile only, and will only show Filters
  {% endcomment %}

  {% if collection.all_tags.size > 0 and show_filters %}
    {% assign show_filter_trigger = true %}
  {% endif %}

  {% if section.blocks.size > 0 or collection.all_tags.size > 0 and show_filters %}
    {% comment %}
      Sidebar to show only if there are tags in the collection, or there are menus
    {% endcomment %}
    {% assign show_sidebar = true %}
  {% endif %}
{% endif %}

{% assign paginate_by = section.settings.products_per_page_range %}
{% if template contains 'view-24' %}
  {% assign paginate_by = 24 %}
{% elsif template contains 'view-36' %}
  {% assign paginate_by = 36 %}
{% elsif template contains 'view-48' %}
  {% assign paginate_by = 48 %}
{% endif %}

{%- capture collection_classes -%}
  {% if show_sidebar %}
    layout--has-sidebar
  {% else %}
    layout--no-sidebar
  {% endif %}

  {% if section.settings.default_view == 'grid-view' %}
    productgrid-gridview
  {% else %}
    productgrid-listview
  {% endif %}
{%- endcapture -%}

{% paginate collection.products by paginate_by %}
  <div class="productgrid--outer {{ collection_classes | strip_newlines }}">
    {% if show_sidebar %}
      {%
        include 'product-grid-sidebar',
        filter_style: section.settings.filter_style,
        filter_position: section.settings.filter_position,
        filter_limit: section.settings.filter_limit,
        menu_depth: section.settings.menu_depth_range,
        show_prod_count: section.settings.show_prod_count
      %}
    {% endif %}

    <div class="productgrid--wrapper">
      {% include 'breadcrumbs' %}

      <div class="productgrid--masthead">
        {% if section.settings.show_collection_image and collection.image %}
          <figure class="collection--image">
            {%
              include 'rimg',
              img: collection.image,
              size: '1350x',
              lazy: true,
              canvas: true
            %}
          </figure>
        {% endif %}

        <div class="collection--information">
          <h1 class="collection--title">
            <span data-i18n='{% render 'translationData' with  collection.title  %}'>{% render 'translationText' with  collection.title  %}</span>
          </h1>

       

          {% if collection.description != blank %}
            <div class="collection--description rte">
              <span data-i18n='{% render 'translationData' with  collection.description  %}'>{% render 'translationText' with  collection.description  %}</span>

              
            </div>
            <div class="description-read-more-button description-read-more" style="display: none;" data-i18n="product_grid.description.read_more">{{ 'product_grid.description.read_more' | t }}</div>
            <div class="description-read-more-button description-read-less" style="display: none;" data-i18n="product_grid.description.read_less">{{ 'product_grid.description.read_less' | t }}</div>
            <script>
              if($(".collection--description").height() > 250){
                $(".collection--description").css("max-height", "250px");
                $(".description-read-more").show();
              }

              $(".description-read-more-button").on("click", function(){
                if($(".collection--description").css("max-height") == "250px"){
                  $(".collection--description").css("max-height", "1000px");
                  $(".description-read-more").hide();
                  $(".description-read-less").show();
                }
                else{
                  $(".collection--description").css("max-height", "250px");
                  $(".description-read-more").show();
                  $(".description-read-less").hide();
                }
              });
            </script>
          {% endif %}
        </div>

        
      </div>
      
         {% if current_tags.size > 0 %}
            <div class="productgrid--filters">
              {%- include 'product-grid-tags-active' %}
            </div>
          {% endif %}

      {% if show_filter_trigger or section.settings.sort_by or section.settings.show_by or section.settings.grid_list %}
        {% capture utility_class %}
          productgrid--utils

          {% if show_filter_trigger or section.settings.sort_by or section.settings.grid_list %}
            productgrid--utils--visible-mobile
          {% endif %}

          {% unless section.settings.show_by or section.settings.sort_by or section.settings.grid_list %}
            productgrid--utils--hidden-desktop
          {% endunless %}
        {% endcapture %}
        <nav
          class="{{ utility_class | strip_newlines }}"
          aria-label="{{ 'general.accessibility.nav_collection_utilities' | t }}"
        >
          {% if show_filter_trigger %}
            {%- assign filter_count = 0 -%}
            {%- if current_tags.size > 0 -%}
              {%- assign filter_count = current_tags.size -%}
            {%- endif -%}
            <div class="productgrid--utils utils-filter">
              <button
                class="utils-filter-button"
                type="button"
                aria-label="{{ 'product_grid.filters.title_count' | t: count: filter_count }}"
                data-productgrid-trigger-filters
              >
                <span class="utils-filter-icon">
                  {%- include 'icon-filters' -%}
                </span>
                <span class="utils-filter-text">
                  <span data-i18n='product_grid.filters.title_count{% if filter_count > 1 %}.other{% else %}.zero{% endif %} || {"count":"{{ filter_count | replace: "||", "^^" | replace: "'", "&apos;" }}"}'>{{- 'product_grid.filters.title_count' | t: count: filter_count -}}</span>
                </span>
              </button>
            </div>
          {% endif %}

          {%- if section.settings.sort_by -%}
            {%-
              include 'product-grid-sortby',
              type: 'select',
            -%}
          {%- endif -%}

          {%- if section.settings.show_by or section.settings.grid_list -%}
            <div
              class="
                productgrid--utils
                utils-view
                {% if section.settings.grid_list == false %}
                  utils-hide
                {% endif %}
              "
            >
              <div class="utils-view-container">
                {%- if section.settings.show_by -%}
                  {%-
                    include 'product-grid-showby',
                    show_by: paginate_by,
                    grid_list: section.settings.grid_list
                  -%}
                {%- endif -%}

                {% if section.settings.grid_list %}
                  <div class="utils-viewtoggle">
                    <span class="utils-viewtoggle-label">
                      <span data-i18n='product_grid.view_as.title'>{{ 'product_grid.view_as.title' | t }}</span>
                    </span>

                    <button
                      class="utils-viewtoggle-button {% if section.settings.default_view == 'grid-view' %}active{% endif %}"
                      data-collection-view="grid-view"
                      aria-label="grid view"
                    >
                      {% include 'icon-library', id: 'icon-grid' %}
                    </button>

                    <button
                      class="utils-viewtoggle-button {% if section.settings.default_view == 'list-view' %}active{% endif %}"
                      data-collection-view="list-view"
                      aria-label="list view"
                    >
                      {% include 'icon-library', id: 'icon-list' %}
                    </button>
                  </div>
                {% endif %}
              </div>
            </div>
          {%- endif -%}
        </nav>
      {% endif %}

      {% if collection.products.size > 0 %}
        <ul class="productgrid--items products-per-row-{{- section.settings.products_per_row -}}">
          {% for product in collection.products %}
            {%
              include 'product-grid-item',
              product: product
            %}
          {% endfor %}
        </ul>
      {% else %}
        <div class="productgrid--no-results">
          <h2 class="productgrid--no-results-title">
            {%- if collection.all_products_count == 0 -%}
              <span data-i18n='product_grid.no_results.empty'>{{ 'product_grid.no_results.empty' | t }}</span>
            {%- else -%}
              <span data-i18n='product_grid.no_results.tags_empty'>{{ 'product_grid.no_results.tags_empty' | t }}</span>
            {%- endif -%}
          </h2>

          <a class="productgrid--no-results-button" href="/collections/all">
            <span data-i18n='search.general.view_all_products'>{{ 'search.general.view_all_products' | t }}</span>
          </a>
        </div>
      {% endif %}

      {%
        include 'pagination',
        grid_list: true
      %}
    </div>
  </div>
{% endpaginate %}

{%- if section.settings.sort_by -%}
  {%-
    include 'product-grid-sortby',
    type: 'modal',
  -%}
{%- endif -%}

{% include 'quick-shop' %}

{% schema %}
{
  "name": "Collection pages",
  "class": "collection--section",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "label": "Show collection image",
      "default": true
    },
    {
      "type": "range",
      "id": "products_per_page_range",
      "label": "Products per page",
      "min": 24,
      "max": 48,
      "step": 12,
      "default": 24
    },
    {
      "type": "select",
      "id": "products_per_row",
      "label": "Products per row",
      "options": [
        {
          "label": "3",
          "value": "3"
        },
        {
          "label": "4",
          "value": "4"
        }
      ],
      "default": "4"
    },
    {
      "type": "header",
      "content": "Utility bar"
    },
    {
      "type": "checkbox",
      "id": "sort_by",
      "label": "Show \"Sort by\" Dropdown",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_by",
      "label": "Show products per page links",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "grid_list",
      "label": "Show grid/list view toggle",
      "default": true
    },
    {
      "type": "select",
      "id": "default_view",
      "label": "Default view",
      "options": [
        {
          "label": "Grid",
          "value": "grid-view"
        },
        {
          "label": "List",
          "value": "list-view"
        }
      ],
      "default": "grid-view"
    },
    {
      "type": "header",
      "content": "Sidebar"
    },
    {
      "type": "checkbox",
      "id": "show_sidebar",
      "label": "Show sidebar",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_prod_count",
      "label": "Show product counts",
      "info": "Only applies to collection links in sidebar menus",
      "default": true
    },
    {
      "type": "select",
      "id": "filter_style",
      "label": "Filters",
      "info": "[Learn more](https://support.pixelunion.net/hc/en-us/articles/360026081933-Setting-up-product-tag-filters-in-Empire)",
      "options": [
        {
          "value": "none",
          "label": "Hide filters"
        },
        {
          "value": "tags",
          "label": "By tag"
        },
        {
          "value": "groups",
          "label": "By group"
        }
      ],
      "default": "tags"
    },
    {
      "id": "filter_limit",
      "type": "select",
      "label": "Hide additional tags after",
      "options": [
        {
          "value": "5",
          "label": "5 tags"
        },
        {
          "value": "6",
          "label": "6 tags"
        },
        {
          "value": "8",
          "label": "8 tags"
        },
        {
          "value": "10",
          "label": "10 tags"
        },
        {
          "value": "15",
          "label": "15 tags"
        },
        {
          "value": "20",
          "label": "20 tags"
        },
        {
          "value": "999",
          "label": "Show all tags"
        }
      ],
      "default": "999"
    },
    {
      "type": "select",
      "id": "filter_position",
      "label": "Filters position",
      "options": [
        {
          "value": "above_menus",
          "label": "Above menus"
        },
        {
          "value": "below_menus",
          "label": "Below menus"
        }
      ],
      "default": "above_menus"
    },
    {
      "type":      "text",
      "id":        "grid_categories",
      "label":     "Display filters as grid",
      "info":      "List groups to display in an alternate grid format, like “Size, Price”. [Learn more](https://support.pixelunion.net/hc/en-us/articles/360026081933-Setting-up-product-tag-filters-in-Empire)"
    },
    {
      "type":      "textarea",
      "id":        "custom_ordered_categories",
      "label":     "Group order",
      "info":      "Define a custom order for groups, like “Color, Brand, Size”. Other groups will appear at the bottom."
    },
    {
      "type":      "textarea",
      "id":        "custom_ordered_tags",
      "label":     "Tag order",
      "info":      "Define a custom order for tags, like “Size_S, Size_M, Size_L”. Items must exactly match tag name, including group prefix. Other tags will appear at the bottom."
    },
    {
      "type": "range",
      "id": "menu_depth_range",
      "label": "Menu depth visibility",
      "info": "[Learn more](https://help.shopify.com/manual/sell-online/online-store/menus-and-links#create-a-drop-down-menu)",
      "min": 1,
      "max": 3,
      "step": 1,
      "default": 1
    }
  ],
  "blocks": [
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection where this menu block will appear"
        },
        {
          "id": "menu",
          "type": "link_list",
          "label": "Menu",
          "info": "This menu will show as many dropdown items as specified in \"Menu depth visibility\"."
        }
      ],
      "limit": 10
    },
    {
			"type": "collection-filters",
			"name": "Collection filters",
			"settings": [
				{
					"type": "collection",
					"id": "collection",
					"label": "Collection where these filters will appear"
				},
				{
					"type": "textarea",
					"id": "groups_to_show",
					"label": "Filter groups"
				}
			]
		}
  ]
}

{% endschema %}